{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="md:w-1/2 mx-auto w-full">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-center">Please sign in</h1>
        <div class="my-5">
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                   class="placeholder-gray-300 bg-gray-300 focus:bg-white rounded w-full p-2 block border-1 border-gray-500"
                   required autofocus>

            {% if error %}
                <div class="bg-red-300 mt-3 p-3 text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="my-5">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword"
                   class="placeholder-gray-300 bg-gray-300 focus:bg-white rounded w-full p-2 block border-1 border-gray-500"
                   required>
        </div>

        <div class="flex">
            <div class="flex-1">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <div class="flex-1 text-right">
                <button class="bg-green-900 text-white  p-3" id="submit" name="submit" type="submit">
                    Sign in
                </button>
            </div>
        </div>
    </form>
    <p class="text-gray-500 text-center">Does not have an account? <a class="font-bold"
                                                                      href="{{ path('register_form') }}">Register
            Now</a></p>
    <p class="text-gray-500 text-center mt-3">Forget your password? <a class="font-bold"
                                                                       href="{{ path('app_forgot_password_request') }}">Click
            Here</a></p>

{% endblock %}
