{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block body %}
    <div class="w-full md:w-1/2 mx-auto">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="bg-red-400 p-3" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>{{'Reset your password'|trans}}</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <p class="p-4 m-3 text-gray-500">
            {{ 'password.enter_email'|trans }}
        </p>
        <div class="text-center">
            <button class="bg-green-600 p-3 text-white">{{ 'password.send_email_btn'|trans }}</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}