{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

    <div class="md:w-1/2 w-full mx-auto">
        <h1 class="text-center">Register</h1>
        <form action="{{ path('register') }}" method="post">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="my-5">
                <label for="name">Full Name</label>
                <input type="text" name="name" class="w-full rounded bg-gray-300 p-2 focus:bg-white"
                       value="{{ user.name }}" id="name" required>
            </div>
            <div class="my-5">
                <label for="email_address">Email Address</label>
                <input type="email" name="email" class="w-full rounded bg-gray-300 p-2 focus:bg-white"
                       value="{{ user.email }}" id="email_address" required>
            </div>
            <div class="my-5">
                <label for="username">Username</label>

                <input type="text" name="username" class="w-full rounded bg-gray-300 p-2 focus:bg-white"
                       value="{{ user.username }}" id="username" required>
            </div>
            <div class="my-5">
                <label for="password">Password</label>
                <input type="password" name="password" class="w-full rounded bg-gray-300 p-2 focus:bg-white"
                       id="password" required>
            </div>
            <div class="my-5 text-right">
                <input type="submit" class="bg-green-600 text-white p-3 rounded" value="Register Now">
            </div>
        </form>
        <p class="text-gray-500 text-center">Already have an account? <a class="font-bold"
                                                                         href="{{ path('app_login') }}">Login Now</a>
        </p>

    </div>
{% endblock %}
