<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    <link rel="manifest" href="/manifest.json">

</head>
<body class="">
<div class="bg-blue-800">
    <nav class="xl:container mx-auto p-3">
        <div class="flex justify-between">
            <ul class="text-white flex">
                <li class="flex-1">
                    <a href="">Home</a>
                </li>
                <li class="flex-1">
                    <a id="installAppBtn" href="javascript:void(0)" class="" style="display: none">
                        Install App
                    </a>
                </li>
            </ul>
            <div class="">
                <button class="block overflow-hidden rounded-full" id="dropdown-initiator">
                    <img class="w-8 h-8 object-center" src="{{ asset(app.user.avatar) }}"/>
                </button>

            </div>
        </div>
    </nav>
</div>
<div class="absolute shadow right-0 w-56 p-3 mt-1 bg-white rounded hidden" id="dropdown-container">
    <a class="block p-1 hover:bg-indigo-500 hover:text-white" href="{{ path('profile_show') }}">Profile</a>
    <a class="block p-1 hover:bg-indigo-500 hover:text-white" href="{{ path('password_change') }}">Password Change</a>
    <a class="block p-1 hover:bg-indigo-500 hover:text-white" href="/logout">Logout</a>
</div>
<main class="container mx-auto p-5">

    <div class="grid grid-cols-12 gap-4">
        <ul class="col-span-3 divide-white rounded">
            <li class="bg-gray-400 p-3 border-b-2">
                <a href="{{ path('home') }}">Home</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="bg-gray-400 p-3 border-b-2">
                    <a href="{{ path('user') }}">Users</a>
                </li>
            {% endif %}
            <li class="bg-gray-400 p-3 border-b-2">
                <a href="/logout">Logout</a>
            </li>
        </ul>
        <div class="col-span-9">
            {% if app.request.hasPreviousSession %}
                {% for message in app.flashes('message') %}
                    <p class="p-3 text-white bg-green-600">{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% if(errors is defined) %}
                {% if(errors|length > 0) %}
                    <ul class="border divide-black">

                        {% for error in errors %}

                            <li class="bg-red-300 text-red-900 p-3 m-2"><b>{{ error.propertyPath }}</b>
                                - {{ error.message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>


</main>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
<script type="text/javascript">
    document.querySelector("#dropdown-initiator").addEventListener("click", function (event) {
        document.querySelector("#dropdown-container").classList.toggle("hidden")
    });
</script>
<script type="text/javascript">

    window.addEventListener('load', async e => {
        if ('serviceWorker' in navigator) {
            try {
                navigator.serviceWorker.register('/serviceWorker.js');
            } catch (e) {
                console.log(e.message);
            }
        }
    });
    window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent the mini-infobar from appearing on mobile
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Update UI notify the user they can install the PWA
        var buttonInstall = document.getElementById('installAppBtn');
        buttonInstall.style.display = "block";
    });
</script>
</body>
</html>
